@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global enhancement */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
